@import (reference) "../../../styles/theme.less";

.submitButton {
    background: @theme-color !important;
    border-style: hidden;

    &:hover {
        background: whitesmoke !important;
        color: @theme-color !important;
        // background: darken(@theme-color, 10%);
    }
}