

.sidebarIcons {
    text-align: center;

    span {
        a {
            margin-right: 8px;
            margin-left: 8px;
            span {
                &:hover {
                    -webkit-filter: brightness(130%);
                    filter: brightness(130%);
                }
            }
        }
    }
}

.sectionIcons {
    span {
        a {
            margin-right: 8px;
            margin-left: 8px;
            span {
                &:hover {
                    /* 
                    remove `sectionIcons` because stackoverflow icon itself is getting highlighted
                    but other icons do not because they are hollow (icon are squared) 
                    */
                    /* -
                    webkit-filter: brightness(70%);
                    filter: brightness(70%) 
                    */
                }
            }
        }
    }
}

// platform specific CSS because fontawesome v4.7 do not have squared icon for some brands
.stackOverflowSquareIcon a span {
    border-radius: 10px;
    padding: 7px 10px;
    position: relative;
    top: -8.5px;
    background-color: #f48024;
    font-size: 2.6rem !important;
    color: whitesmoke !important;
}
.whatsappSquareIcon a span {
    border-radius: 10px;
    padding: 5px 7px;
    position: relative;
    top: -5.5px;
    background-color: #4AC959;
    font-size: 2.95rem !important;
    color: whitesmoke !important;
}
.codepenSquareIcon a span {
    border-radius: 10px;
    padding: 8px 8px;
    position: relative;
    top: -8px;
    background-color: #000000;
    font-size: 2.5rem !important;
    color: whitesmoke !important;
}
.skypeSquareIcon a span {
    border-radius: 10px;
    padding: 6px 9px;
    position: relative;
    top: -7px;
    background-color: #00aff0;
    font-size: 2.75rem !important;
    color: whitesmoke !important;
}

// for platform SVGs
.discordSVG {
    width: 32px;
    height: 25px;

    g {
        path {
            fill: #5865F2
        }
    }
}
.discordSquareIcon a svg.discordSVG {
    height: 55px;
    width: 56px;
    border-radius: 10px;
    padding: 0px 8px;
    position: relative;
    top: 5px;

    background-color: #5865F2;
    g {
        path {
            fill: whitesmoke
        }
    }
}
